.componentAnimation-enter {
    opacity: 0;
    transform: translateX(-400px);
}
.componentAnimation-enter-active {
    opacity: 1;
    transform: translateX(20px);
    transition: all 1s ease-in-out;
}

.componentAnimation-enter-done {
    opacity: 1;
    transform: translateX(0px);
    transition: all .5s ease-in-out;
}